@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  justify-content: center ;
  align-items: center ;
}

.qr-code-component {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  background-color: var(--light-gray);
  text-align: center;
}

.qr-code-card {
  width: 90%;
  max-width: 320px;
  padding: 16px;
  margin-top: 40px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

.qr-code-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.qr-code-title {
  margin-top: 30px;
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 22px; /* Adjust based on your preference */
}

.qr-code-description {
  margin-top: 21px;
  color: var(--grayish-blue);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.19px;
}

/* Media Queries */

/* Adjustments for mobile devices */
@media only screen and (max-width: 375px) {
  .qr-code-component {
    padding: 40px 20px;
  }

  .qr-code-card {
    width: 90%; /* Allows for some spacing on the sides */
    margin-top: 20px;
  }
}

/* Adjustments for desktop and larger devices */
@media only screen and (min-width: 1440px) {
  .qr-code-component {
    padding: 80px 60px;
  }

  .qr-code-card {
    width: 400px; /* Larger width for desktop */
    padding: 32px;
    margin-top: 72px;
  }
}
